:root {
    --primary: #1453A5;
    --opaque: #114a94;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light);
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

a {
    text-decoration: none;
}

#sidebar-container h4 {
    font-weight: bold;

}

.menu .enlace {
    margin-left: 10px;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.enlace:hover{
    background: var(--opaque);
}

nav {
    background: var(--opaque);
}

.nav-link {
    color: var(--light);
}


.nav-link:visited {
    color: var(--light);
}

.dropdown-menu {
    background: var(--primary) !important;
}

.dropdown-item {
    color: var(--light);
}

.dropdown-item:hover {
    background: var(--opaque) !important;
    color: var(--light);
}

.content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

#title-welcome {
    font-weight: bold;
}

.btn {
    background: var(--primary) !important;
    color: var(--light);
}

.btn:hover {
    background: var(--opaque) !important;
    color: var(--light);
}

.btn:valid {
    color: var(--light);
}

.btn-primary {
    background: var(--primary) !important;
}

.stat {
    border-right: 2px solid var(--grey);
}

.fondo {
    background: var(--opaque);
}

@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }

    .stat {
        display: none;
    }
}